<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/order.css" rel="stylesheet">
    <title>주문 페이지 : Genie</title>
</head>
<body>

<!--내비게이션 시작-->
<div th:replace="fragment/nav"></div>
<!--내비게이션 끝-->

  <div class="order_div">

      <h1>주문 페이지</h1>

      <!------------ 주문서 테이블 영역 시작 -------------->

    <div>

      <!------------상품 정보 확인 영역 -------------->

      <div class="container">
          <div class="bookinfo_div">
              <div>
                  <img src="https://www.aladin.co.kr/ucl_editor/img_secur/order/2010/dot_star.gif">
                  <span class="title"> 주문 상품 정보 </span>
              </div>
              <table class="table1">
                  <tr class="infohead">
                      <td> 제목 </td>
                      <td> 가격 </td>
                      <td> 할인금액 </td>
                      <td> 적립금 </td>
                      <td> 수량 </td>
                      <td> 합계 </td>
                  </tr>
                  <tr class="infobody" th:each=" book : ${ordersInfo.bookInfos}">
                      <td class="data_td">
                          <a th:href="@{/main/product(isbn=${book.isbn},p=${1})}" th:text="${book.title}"/>
                      </td>
                      <td> [[${#numbers.formatInteger(book.price, 0, 'COMMA')}]] 원 </td>
                      <td style="color: red"> -[[${#numbers.formatInteger(book.price - book.saleprice, 0, 'COMMA')}]] 원 </td>
                      <td> [[${#numbers.formatInteger(book.saveMileage, 0, 'COMMA')}]] 원 </td>
                      <td id="bookcount" th:text="${book.bookcount}"/>
                      <td th:text="${#numbers.formatInteger(book.totalSalePrice, 0, 'COMMA')}"> 원 </td>
                      <input type="hidden" id="isbn">
                  </tr>
              </table>
          </div>
      </div>

      <!------------배송지 정보 영역 -------------->

      <div class="container">
          <div class="addinfo_div">
              <div>
                  <img src="https://www.aladin.co.kr/ucl_editor/img_secur/order/2010/dot_star.gif">
                  <span class="title"> 배송 정보 확인 </span>
              </div>
              <table class="table2">
                      <tr>
                          <th class="popup">배송지명</th>
                          <td class="data_td">
                              <input type="radio" name="addrSelect" value="1" id="addrSelect1" checked="true"><label for="addrSelect1">기본 배송지</label>
                              <input type="radio" name="addrSelect" value="0" id="addrSelect0"><label for="addrSelect0">기타 배송지</label>
                              <select id="addridxOption" style="display: none">
                                  <option th:each="addr : ${ordersInfo.addrs}" th:value="${addr.addrindex}" th:text="${addr.addrname}" th:selected="${addr.priority}=='1'">
                                  </option>
                              </select>
                              <input type="radio" name="addrSelect" value="9" id="addrSelect9"><label for="addrSelect9">신규 배송지</label>
<!--                              <input type="text" name="addrname" id="addrname" th:each="addr : ${ordersInfo.addrs}" th:if="${addr.priority} == '1'" th:value="${addr.addrname}">-->
                              <input type="text" name="addrname" id="addrname" style="display: none">
                          </td>
                      </tr>
                  <th:block th:each="addr : ${ordersInfo.addrs}" th:if="${addr.priority == 1}">
                      <tr>
                        <th class="popup"> 주문인 </th>
                        <td class="data_td">
                          <input type="text" id="recipient" th:value="${addr.recipient}">
                        </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                        <th class="popup"> 주소 </th>
                        <td class="data_td">
                          <div style="padding: 3px 0">
                          <span>
                            <input type="text" id="postnum" th:value="${addr.postnum}" readonly>
                            <button class="button_middle" id="addrSearchBtn" onclick="sample6_execDaumPostcode()" style="display: none"> 주소 검색 </button>
                          </span>
                          </div>
                          <div style="padding: 3px 0">
                            <input type="text" id="address1" th:value="${addr.address1}" readonly>
                            <input type="text" id="address2" th:value="${addr.address2}">
                          </div>
                        </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                        <th class="popup"> 연락처 </th>
                        <td class="data_td"> <input type="text" id="phone" th:value="${addr.phone}" maxlength="11"> </td>
                      </tr>
                  </th:block>
              </table>
          </div>
      </div>

      <!------------마일리지 정보 영역 -------------->

      <div class="container">
          <div class="miluse_div">
              <div>
                  <img src="https://www.aladin.co.kr/ucl_editor/img_secur/order/2010/dot_star.gif">
                  <span class="title"> 마일리지 사용하기 </span>
              </div>
              <table class="table3">
                  <th:block th:each="mm : ${ordersInfo}">
                      <tr>
                          <th class="popup">
                              <label> 보유한 마일리지 </label>
                          </th>
                          <td class="data_td">
                              <strong class="input_my_mileage" id="my_mileage" th:text="${#numbers.formatInteger(mm.mileage, '0', 'COMMA')}"/>
                          </td>
                          <td class="data_td">
                              <span> <input type="text" name="usemil" th:value="${0}" placeholder="사용할 금액"> </span>
                              <button class="usemil_btn button_middle"> 사용하기 </button>
                          </td>
                      </tr>
                  </th:block>
              </table>
          </div>
      </div>

      <!------------결제 금액 확인 영역 -------------->

      <div class="container">
          <div class="payinfo_div">
              <div>
                  <img src="https://www.aladin.co.kr/ucl_editor/img_secur/order/2010/dot_star.gif">
                  <span class="title"> 결제 정보 </span>
              </div>
              <table class="table4">
                  <th:block th:each=" b : ${ordersInfo}">
                      <tr>
                          <th class="popup">수량</th>
                          <td class="data_td">
                              <p> 총 [[${b.totalBookCnt}]] 권 </p>
                              <input type="hidden" id="totalBookCnt" th:value="${b.totalBookCnt}">
                          </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                          <th class="popup"> 결제 예상 금액 </th>
                          <td class="data_td">
                              <strong th:text="${#numbers.formatInteger(b.orderTotalPrice, '0', 'COMMA')}"/> 원
                          </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                          <th class="popup">할인 금액</th>
                          <td class="data_td">
                              <strong th:text="|-${#numbers.formatInteger(b.orderTotalPrice - b.orderTotalSalePrice, '0', 'COMMA')}|"/> 원
                          </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                          <th class="popup">사용 마일리지</th>
                          <td class="data_td">
                              <strong id="used_mileage" th:text="${#numbers.formatInteger(0, '0', 'COMMA')}"/> 원
                          </td>
                      </tr>
                      <!-------------------------->
                      <tr>
                          <th class="popup"> 결제 금액 </th>
                          <td class="data_td">
                              <strong id="calPrice" th:text="${#numbers.formatInteger(b.orderTotalSalePrice, '0', 'COMMA')}"/> 원
                          </td>
                      </tr>
                      <!-------------------------->

                      <tr>
                          <th class="popup">적립 예정 마일리지</th>
                          <td class="data_td">
                              <strong th:text="${#numbers.formatInteger(b.totalSaveMileage, '0', 'COMMA')}"/> 점
                              <input type="hidden" id="saveMileage" th:value="${b.totalSaveMileage}">
                          </td>
                      </tr>
                  </th:block>
              </table>
              <!-------------------------->
              <div th:each="pay : ${ordersInfo}">
                  <p> 결제하실 금액은 총 <strong id="resultPrice" th:text="${#numbers.formatInteger(pay.orderTotalSalePrice, '0', 'COMMA')}"/> 원 입니다.</p>
              </div>
          </div>
      </div>

    </div>

    <!------------버튼 영역 -------------->

    <div class="orderbtn_div">
      <button class="btn order_btn btn-primary" type="submit"> 결제하기 </button>
      <!--<button class="btn btn-secondary" th:onclick="|location.href='@{/main}'|">주문 취소</button>-->
    </div>

  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <script th:inline="javascript">
      var loginInfo = [[${loginInfo}]]
      var ordersInfo = [[${ordersInfo.bookInfos}]]
      let viewPriceSum = [[${ordersInfo.orderTotalPrice}]]
      let viewSalePriceSum = [[${ordersInfo.orderTotalSalePrice}]]
      let myMileage = [[${ordersInfo.mileage}]]

      function sample6_execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var addr = ''; // 주소 변수

                  //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                  }

                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('postnum').value = data.zonecode;
                  document.getElementById("address1").value = addr;
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById("address2").focus();
              }
          }).open();
      }

  </script>
<script text="javascript" th:inline="javascript">
    const addrList = [[${ordersInfo.addrs}]];
</script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/order.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/formCheck.js"></script>

</body>
</html>


