<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>도서 수정</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"
          integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <link href="/css/review.css" rel="stylesheet">
  <link href="/css/bootstrap.min_ml.css" rel="stylesheet">

</head>

<body>

  <!--내비게이션 시작-->
  <div th:replace="fragment/nav"></div>
  <!--내비게이션 끝-->

  <!-- 도서 등록 시작-->
  <table style="margin: 0 15% 0 15%; width: 65%;" class="table">

    <form method="post" enctype="multipart/form-data" action="/administrator/modify">
      
      <tr class="table-secondary">

        <td>

          <!--상단 타이틀 (저자,출판사,출간일) 시작-->
          <div>
            <ul style="list-style: none; padding-left: 0">

              <li>
                <div>
                  <h2><input class="form-control" type="text" id="title" name="title" th:value="${administratorModify.title}" style="height: 60px; font-size: 30px"></h2>
                </div>
              </li>

              <li>
                <div style="display: inline;">
                  <input class="form-control" type="text" id="author" name="author" th:value="${administratorModify.author}" style="width: 150px; display: inline; text-align: center"> | </input>
                  <input class="form-control" type="text" id="publisher" name="publisher" th:value="${administratorModify.publisher}" style="width: 150px; display: inline; text-align: center"> | </input>
                  <input class="form-control" type="date" id="pubdate" name="pubdate" th:value="${administratorModify.pubdate}" style="width: 150px; display: inline; text-align: center">
                </div>
              </li>

            </ul>
          </div>
          <hr/>
          <!--상단 타이틀 (저자,출판사,출간일) 끝-->

          <!--도서이미지 시작-->
          <div style="display: inline; width: 500px">

            <label for="bookimg" class="form-label">
              <img id="preview-image" th:src="@{/photo/{name}(name=${administratorModify.bookimg})}" width="500px">
              <input type="file" class="form-control" id="bookimg" name="bookimg">
              <input type="hidden" id="oldimg" name="oldimg" th:value="${administratorModify.bookimg}">
            </label>

          </div>
          <!--도서이미지 끝-->

          <!--도서 상품정보 시작-->
          <div style="display: inline-block; vertical-align: top">
            <ul style="list-style: none; margin-left: 300px; margin-top: 150px;">

              <li style="padding-bottom: 20px">
                <div style="display: inline;">
                  <h7 style="display: inline; margin-right: 56px">정가</h7>
                  <input class="form-control" type="text" id="price" name="price" th:value="${administratorModify.price}" style="display: inline; width: 100px;" onkeyup="avg();">원</input>
                </div>
              </li>

              <li style="padding-bottom: 20px">
                <div style="display: inline;">
                  <h7 style="display: inline; margin-right: 42px">판매가</h7>
                  <input class="form-control" type="text" id="saleprice" name="saleprice" th:value="${administratorModify.saleprice}" style="display: inline; width: 100px;" readonly>원</input>
                </div>
              </li>

              <li style="padding-bottom: 20px">
                <div style="display: inline;">
                  <h7 style="display: inline; margin-right: 30px">마일리지</h7>
                  <input class="form-control" type="text" id="mileagerate" name="mileagerate" th:value="${administratorModify.mileagerate}" style="display: inline; width: 100px;">%</input>
                </div>
              </li>

              <li style="padding-bottom: 20px">
                <div style="display: inline;">
                  <h7 style="display: inline; margin-right: 30px">재고수량</h7>
                  <input class="form-control" type="text" id="stock" name="stock" th:value="${administratorModify.stock}" style="display: inline; width: 100px;">권</input>
                </div>
              </li>
              <br>

              <li>
                <div style="display: inline">
                  <input type="submit" class="btn btn-primary" value="수정">
                </div>
                <div style="display: inline">
                  <input type="reset"  class="btn btn-outline-primary" value="원래대로">
                </div>
                <div style="display: inline">
                  <a class="btn btn-outline-danger" th:href="@{/administrator/list}">이전으로</a>
                </div>
              </li>
            </ul>
          </div>
          <hr/>

          <div>
            <h3>기본 정보</h3>

            <div style="display: inline;">
              <input class="form-control" type="text" id="pages" name="pages" th:value="${administratorModify.pages}" style="width: 75px; display: inline; text-align: center">쪽 | </input>
              <input class="form-control" type="text" id="size" name="size" th:value="${administratorModify.size}" style="width: 150px; display: inline; text-align: center"> | </input>
              <input class="form-control" type="text" id="weight" name="weight" th:value="${administratorModify.weight}" style="width: 75px; display: inline; text-align: center">g | </input>
              ISBN: <input class="form-control" type="text" MAXLENGTH=13 id="isbn" name="isbn" th:value="${administratorModify.isbn}" style="width: 150px; display: inline; text-align: center"> | </input>
              도서형태: <select class="form-control" type="text" id="binding" name="binding" th:value="${administratorModify.binding}" style="width: 150px; display: inline; text-align: center">
                        <option style="text-align: center;">--도서형태--</option>
                        <option value="HB" th:selected="${administratorModify.binding}=='HB'" style="text-align: center;">HB</option>
                        <option value="PB" th:selected="${administratorModify.binding}=='PB'" style="text-align: center;">PB</option>
                      </select>
            </div>

            <div style="margin-top: 10px">
              주제분류: <input class="form-control" type="text" id="category" name="category" th:value="${administratorModify.category}" style="width: 150px; display: inline;"/>
              도서형태: <select class="form-control" type="text" id="status" name="status" th:value="${administratorModify.status}" style="width: 150px; display: inline; text-align: center">
                        <option value="정상" th:selected="${administratorModify.status}=='정상'">정상</option>
                        <option value="절판" th:selected="${administratorModify.status}=='절판'">절판</option>
                        <option value="품절" th:selected="${administratorModify.status}=='품절'">품절</option>
                      </select>
            </div>

          </div>
          <hr/>

          <div>
            <h3>책 소개</h3>
            <textarea class="form-control" cols=50 rows="15" id="description" name="description" th:text="${administratorModify.description}"></textarea>
          </div>
          <hr/>

          <div>
            <h3>목차</h3>
            <textarea class="form-control" cols=50 rows="15" id="contents" name="contents" th:text="${administratorModify.contents}"></textarea>
          </div>
          <!--도서 상품정보 끝-->

        </td>

      </tr>

    </form>

  </table>
  <!-- 도서 등록 끝-->


  <!-- 문자만 입력가능 스크립트 시작 -->
  <script>

    // 한글, 영문, 특수문자(), 띄워쓰기 정규식
    var replaceNotString = /[^ㄱ-ㅣ가-힣a-zA-Z()\s]/gi;

    // 저자
    $(document).ready(function(){

      $("#author").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotString)) {
            x = x.replace(replaceNotString, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotString, ""));
      });

    });

    // 출판사
    $(document).ready(function(){

      $("#publisher").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotString)) {
            x = x.replace(replaceNotString, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotString, ""));
      });

    });

  </script>
  <!-- 문자만 입력가능 스크립트 끝 -->


  <!-- 숫자만 입력가능 스크립트 시작 -->
  <script>

    // 숫자가 아닌 정규식
    var replaceNotInt = /[^0-9]/gi;

    // 정가
    $(document).ready(function(){

      $("#price").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

    // 마일리지
    $(document).ready(function(){

      $("#mileagerate").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

    // 재고 수량
    $(document).ready(function(){

      $("#stock").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

    // 쪽수
    $(document).ready(function(){

      $("#pages").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

    // 무게
    $(document).ready(function(){

      $("#weight").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

    // ISBN
    $(document).ready(function(){

      $("#isbn").on("focusout", function() {
        var x = $(this).val();
        if (x.length > 0) {
          if (x.match(replaceNotInt)) {
            x = x.replace(replaceNotInt, "");
          }
          $(this).val(x);
        }
      }).on("keyup", function() {
        $(this).val($(this).val().replace(replaceNotInt, ""));
      });

    });

  </script>
  <!-- 숫자만 입력가능 스크립트 끝 -->


  <!-- 이미지 미리보기 스크립트 시작 -->
  <script>

    function readImage(input) {
      // 인풋 태그에 파일이 있는 경우
      if(input.files && input.files[0]) {
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
          const previewImage = document.getElementById("preview-image")
          previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
      }

    }
    // input file에 change 이벤트 부여
    const inputImage = document.getElementById("bookimg")
    inputImage.addEventListener("change", e => {

      readImage(e.target)
    })

  </script>
  <!-- 이미지 미리보기 스크립트 끝 -->


  <!-- 판매가(10%할인) 스크립트 시작 -->
  <script>

    function avg() {

      var price = $("#price").val(); //정상가
      var avg = 10; // 할인율

      if ($("#price").val().trim() == "") {
        result = 0;

      } else {
        result = price - ((price * avg) / 100);
      }

      $("#saleprice").val(Math.round(result));

    }

  </script>
  <!-- 판매가(10%할인) 스크립트 끝 -->


</body>
</html>
