<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.magiclamp.mapper.BookMainListMapper">

    <select id="selectByOption" parameterType="com.app.magiclamp.model.BookSearchOption" resultType="com.app.magiclamp.entity.Book">

        select * from tbl_book

        <where>
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'isbn'">
                    <include refid="searchIsbn"/>
                </if>
                <if test="searchType == 'title'">
                    <include refid="searchTitle"/>
                </if>
            </if>
        </where>

        order by pubdate desc

    </select>

    <sql id="searchIsbn">
        isbn like concat('%', #{keyword}, '%')
    </sql>

    <sql id="searchTitle">
        title like concat('%', #{keyword}, '%')
    </sql>

    <select id="selectByOptionTotalCount" parameterType="com.app.magiclamp.model.BookSearchOption" resultType="Integer">

        select count(isbn) from tbl_book

        <where>
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'isbn'">
                    <include refid="searchIsbn2"/>
                </if>
                <if test="searchType == 'title'">
                    <include refid="searchTitle2"/>
                </if>
            </if>
        </where>

    </select>

    <sql id="searchIsbn2">
        isbn like concat('%', #{keyword}, '%')
    </sql>

    <sql id="searchTitle2">
        title like concat('%', #{keyword}, '%')
    </sql>

</mapper>