<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.magiclamp.mapper.BookMainListMapper">

    <select id="selectByOption" resultType="com.app.magiclamp.model.bookMain.BookRequest">

        select c.cnt, r.star, b.* from tbl_book b left outer join (SELECT isbn, round(avg(star), 1) as star FROM project_lamp.tbl_review group by isbn order by isbn) r on b.isbn=r.isbn left outer join (select isbn, count(isbn) as cnt from tbl_review group by isbn) c on b.isbn=c.isbn

        <where>
            <if test="searchOption.searchType != null and searchOption.keyword != null">
                <if test="searchOption.searchType == 'isbn'">
                    <include refid="searchIsbn"/>
                </if>
                <if test="searchOption.searchType == 'title'">
                    <include refid="searchTitle"/>
                </if>
            </if>
            <if test="category != null and category != ''">
                <include refid="searchCategory"/>
            </if>
        </where>

        order by pubdate desc limit #{p1} , 10

    </select>

    <sql id="searchIsbn">
<!--        b.isbn like concat('%', #{p2.keyword}, '%')-->
        b.isbn like concat('%', #{searchOption.keyword}, '%')
    </sql>

    <sql id="searchTitle">
<!--        title like concat('%', #{p2.keyword}, '%')-->
        title like concat('%', #{searchOption.keyword}, '%')
    </sql>

    <sql id="searchCategory">
        category like concat('%', #{category}, '%')
    </sql>

    <select id="selectByOptionTotalCount" resultType="Integer">

        select count(isbn) from tbl_book

        <where>
            <if test="searchOption.searchType != null and searchOption.keyword != null">
                <if test="searchOption.searchType == 'isbn'">
                    <include refid="searchIsbn2"/>
                </if>
                <if test="searchOption.searchType == 'title'">
                    <include refid="searchTitle2"/>
                </if>
            </if>
            <if test="category != null and category != ''">
                <include refid="searchCategory"/>
            </if>
        </where>

    </select>

    <sql id="searchIsbn2">
        isbn like concat('%', #{searchOption.keyword}, '%')
    </sql>

    <sql id="searchTitle2">
        title like concat('%', #{searchOption.keyword}, '%')
    </sql>

    <sql id="searchCategory3">
        b.category like concat('%', #{category}, '%')
    </sql>

</mapper>