<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please join with Genie!</title>
    <style>
        /*#postnum, #address1 {
            height: 30px;
            background: #ebebeb;
            border-top: 1px solid #999;
            border-left: 1px solid #999;
            border-right: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            color: #333333;
            font-size: 15px;
            padding: 0 7px;
            outline-style: none;
        }*/

        .button {
            display: inline-block;
            padding: 0;
            vertical-align: middle;
            border: 1px solid;
            border-color: #9e9e9e;
            text-align: center;
            cursor: pointer;
            border-radius: 3px;
            background-color: #FFFFFF;
        }

        a.button_middle {
            outline: 0;
            color: #333 !important;
            font-size: 12px;
            line-height: 25px;
            display: block;
            white-space: nowrap;
            background-color: transparent;
            border-color: #195fa5;
            margin: 0;
            border: 0;
            padding: 3px 10px 0 10px;
        }

        #signup {
            display: inline-block;
            padding: 0;
            vertical-align: middle;
            border: 1px solid;
            border-color: #3459e6;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            border-radius: 3px;
            background: #3459e6;
        }

        #signup a {
            outline: 0;
            color: #FFF !important;
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            display: block;
            white-space: nowrap;
            background-color: transparent;
            border-color: #3459e6;
            margin: 0;
            border: 0;
            width: 180px;
            padding: 14px 0px 15px 0px;
        }

        table, tr, td, input {
            font-size: 12px;
            line-height: 10px;
        }

        img {
            border: none
        }

        .button_middle {
            text-decoration: none;
        }
    </style>
    <link href="/css/bootstrap.min_ml.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragment/nav"></div>

<form method="post">
    <table width="905" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="width: 193px; font: 20px 'Malgun Gothic'; vertical-align: top; letter-spacing: -1px; padding: 25px 0 0 10px">
                기본 정보 입력
            </td>
            <td style="padding: 25px 0 0 0">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="115" style="color: #333333; font-size: 12px">아이디</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" class="form-control" name="username" id="userId"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="IDCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="id_helplayer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1;">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="CustId_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">(4자~12자리의 영문자, 숫자 / @,#$등 특수문자는 제외)</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">비밀번호</td>
                        <td style="padding: 7px 0px 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="password" class="form-control" name="password" id="userPw" maxlength="20"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="PWCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="password_helplayer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px; line-height: 18px">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="password_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 11px; padding: 0 0 0 14px; line-height: 11px">영문, 숫자, 특수문자 중 2가지 조합하여 8자~20자리</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">비밀번호 재입력</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="password" class="form-control" name="password-check" id="rePw"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="PWDoubleCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="passwordVerify_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="PasswordVerify_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">비밀번호를 다시 한번 입력해주세요.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="115" style="color: #333333; font-size: 12px">이름</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" class="form-control" name="name" id="name"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="nameCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="Name_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="Name_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">휴대전화</td>
                        <td style="padding: 7px 0 7px 0">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" name="phone" id="phone" class="form-control"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="phoneNumberCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="phoneNumber_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="phoneNumber_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">-를 제외한 11자리</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin:0 auto; padding: 30px 0 0 0; border-bottom: 1px solid #dedede; width: 930px;"></div>
    <table width="905" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="width: 193px; font: 20px 'Malgun Gothic'; vertical-align: top; letter-spacing: -1px; padding: 25px 0 0 10px">
                부가 정보 입력
            </td>
            <td style="padding: 25px 0 0 0">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="color: #333333; vertical-align: top; font-size: 12px">주소</td>
                        <td style="padding: 7px 0 7px 0">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                   style="padding-top: 0px; padding-bottom: 0px;">
                                <tbody>
                                <tr>
                                    <td width="110" style="padding: 0 0 5px 0">
                                        <input type="text" id="postnum" name="postnum" placeholder="우편번호" readonly
                                               style="width: 100%; vertical-align: middle;" class="form-control">
                                    </td>
                                    <td valign="top" style="padding-left: 10px; padding-top: 3px">
                                        <div class="button">
                                            <a class="button_middle" onclick="sample6_execDaumPostcode()">주소검색</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210" style="padding: 0 0 5px 0">
                                        <input type="text" id="address1" placeholder="주소" class="form-control" readonly
                                               style="width:450px;vertical-align:middle;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210" style="padding: 0 0 5px 0">
                                        <input type="text" id="address2" placeholder="상세주소" class="form-control"
                                               style="width: 350px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                        onfocus="detailAddressCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="address_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="address_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin: 0 auto; padding: 30px 0 0 0; border-bottom: 4px solid #505050; width: 930px"></div>
    <div style="margin: 0 auto; padding: 20px 0; text-align: center; width: 930px">
        <div id="signup">
            <a>회원 가입하기</a>
        </div>
    </div>
</form>
<!--<form method="post">
    <div style="width: 905px; padding: 10px">
        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="userId">아이디</label>
            <input type="text" class="form-control" id="userId" name="username">
        </div>

        <div>
            <label class="col-form-label mt-4" for="userPw">비밀번호</label>
            <input type="password" class="form-control" id="userPw" name="password">
        </div>
        <div>
            <label class="col-form-label mt-4" for="rePw">비밀번호 재확인</label>
            <input type="password" class="form-control" id="rePw" name="password-check">
        </div>

        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="phone">연락처 </label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="-를 제외한 11자리">
        </div>
        <div class="form-group mb-2">
            <label for="postnum" class="col-form-label mt-4">우편번호 </label>
            <input type="text" class="form-control" id="postnum" name="postnum" value="12345">
            <label for="address1" class="col-form-label mt-4">주소 </label>
            <input type="text" class="form-control" id="address1" name="address1" value="Seoul">
            <label for="address2" class="col-form-label mt-4">상세주소 </label>
            <input type="text" class="form-control" id="address2" name="address2" value="test">
        </div>
        <button type="button" id="signup">가입하기</button>
    </div>
</form>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#signup').addEventListener('click', (event) => {
            const username = document.querySelector('#userId');
            const password = document.querySelector('#userPw');
            const repw = document.querySelector('#rePw');
            const name = document.querySelector('#name');

            let itemEntity = {
                username: username.value,
                password: password.value,
                name: name.value,
                phone: document.querySelector('#phone').value,
                postnum: document.querySelector('#postnum').value,
                address1: document.querySelector('#address1').value,
                address2: document.querySelector('#address2').value
            };

            if (password.value != repw.value) {
                alert('위에서 입력한 비밀번호와 동일하게 입력해주세요.')
                repw.focus()
                return
            }

            axios.post('/register', itemEntity)
                .then(function (response) {
                    console.log(response);
                    location.href = response.data;
                }).catch(function (error) {
                alert('회원가입에 실패했습니다.');
                console.log(error);
            });
        });
    });

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postnum').value = data.zonecode;
                document.getElementById("address1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    }

    function IDCheck() {
        const username = document.querySelector('#userId').value
        const ballon = document.querySelector('#id_helplayer')
        const ballontxt = document.querySelector('#CustId_result')
        if (username.length < 4 || username.length > 12) {
            ballon.style.display = 'block'
            ballontxt.textContent = '아이디 글자수는 4자~12자 이어야 합니다.'
        } else {
            const promise = axios.post('/register/idCheck/' + username).then(response => response.data)
            promise.then(result => {
                if (result == 1) {
                    ballon.style.display = 'block'
                    ballontxt.textContent = '이미 사용중인 아이디입니다.'
                } else {
                    ballon.style.display = 'none'
                    const pattern = new RegExp("^[0-9a-z]{3,11}$")
                    if (!pattern.test(username)) {
                        ballon.style.display = 'block'
                        ballontxt.textContent = '아이디는 영문 소문자와 숫자로만 입력해주세요'
                    }
                }
            })
        }
    }

    function PWCheck() {
        const pw = document.querySelector('#userPw').value
        const ballon = document.querySelector('#password_helplayer')
        const ballontxt = document.querySelector('#password_result')
        if (pw.length < 8) {
            ballon.style.display = 'block'
            ballontxt.innerHTML = '비밀번호 안전성 : 취약' + '<br>' + '- 비밀번호는 영문, 숫자, 특수문자 중 2가지 조합하여 8자 이상으로 설정해주세요.'
        } else {
            const checkNumber = pw.search(/[0-9]/g)
            const checkEnglish = pw.search(/[a-zA-Z]/g)
            const checkSpecial = pw.search(/[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g)
            if (checkNumber < 0 && checkSpecial < 0 || checkNumber < 0 && checkEnglish < 0 || checkSpecial < 0 && checkEnglish < 0) {
                ballon.style.display = 'block'
                ballontxt.innerHTML = '비밀번호 안전성 : 취약' + '<br>' + '- 영문대소문자/숫자/특수문자 중 2가지 이상 조합이어야 합니다.'
            } else if (pw.length < 10) {
                ballon.style.display = 'block'
                ballontxt.innerHTML = '비밀번호 안전성 : 낮음' + '<br>' + '- 영문대소문자/숫자/특수문자 중 2가지 이상 조합인 경우 10자 이상을 권장하고 있습니다.'
            } else {
                ballon.style.display = 'block'
                ballontxt.textContent = '비밀번호 안전성 : 보통'
                setTimeout(() => {
                    ballon.style.display = 'none'
                }, 5000)
            }

        }
    }

    function PWDoubleCheck() {
        const userpw = document.querySelector('#userPw').value
        const userpw2 = document.querySelector('#rePw').value
        const ballon = document.querySelector('#passwordVerify_helplyaer')
        if (userpw != userpw2) {
            const ballontxt = document.querySelector('#PasswordVerify_result')
            ballon.style.display = 'block'
            ballontxt.textContent = '위에서 입력한 비밀번호와 동일하게 입력해주세요.'
        } else ballon.style.display = 'none'
    }

    function nameCheck() {
        const username = document.querySelector('#name').value
        const ballon = document.querySelector('#Name_helplyaer')
        if (username == '') {
            ballon.style.display = 'block'
            document.querySelector('#Name_result').textContent = '이름을 입력해주세요.'
        } else ballon.style.display = 'none'
    }

    function phoneNumberCheck() {
        const phoneNumber = document.querySelector('#phone').value
        const ballon = document.querySelector('#phoneNumber_helplyaer')
        const ballontxt = document.querySelector('#phoneNumber_result')
        const pattern = new RegExp("^01([0|1|6|7|8|9])([0-9]{4})([0-9]{4})$")
        if (!pattern.test(phoneNumber)) {
            ballon.style.display = 'block'
            ballontxt.textContent = '휴대전화 번호를 정확하게 입력해주세요'
        } else ballon.style.display = 'none'
    }

    function detailAddressCheck() {
        const ballon = document.querySelector('#address_helplyaer')
        const ballontxt = document.querySelector('#address_result')

        ballon.style.display = 'block'
        ballontxt.textContent = '상세주소를 입력해주세요'
        setTimeout(() => {
            ballon.style.display = 'none'
        }, 3000)
    }


</script>
</body>
</html>
