<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please join with Genie!</title>
    <link href="/css/bootstrap.min_ml.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragment/nav"></div>

<form method="post">
    <table width="905" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="width: 193px; font: 20px 'Malgun Gothic'; vertical-align: top; letter-spacing: -1px; padding: 25px 0 0 10px">
                기본 정보 입력
            </td>
            <td style="padding: 25px 0 0 0">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="115" style="color: #333333; font-size: 12px">아이디</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" class="form-control" name="username" id="userId"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="IDCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="id_helplayer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1;">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="CustId_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">(4자~12자리의 영문자, 숫자 / @,#$등 특수문자는 제외)</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">비밀번호</td>
                        <td style="padding: 7px 0px 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="password" class="form-control" name="password" id="userPw"
                                               maxlength="20"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="PWCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="password_helplayer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px; line-height: 18px">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="password_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 11px; padding: 0 0 0 14px; line-height: 11px">영문, 숫자, 특수문자 중 2가지 조합하여 8자~20자리</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">비밀번호 재입력</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="password" class="form-control" name="password-check" id="rePw"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="PWDoubleCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="passwordVerify_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="PasswordVerify_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">비밀번호를 다시 한번 입력해주세요.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="115" style="color: #333333; font-size: 12px">이름</td>
                        <td style="padding: 7px 0 7px 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" class="form-control" name="name" id="name"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="nameCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="Name_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="Name_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 12px">휴대전화</td>
                        <td style="padding: 7px 0 7px 0">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210">
                                        <input type="text" name="phone" id="phone" class="form-control"
                                               style="width: 200px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onkeyup="phoneNumberCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="phoneNumber_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="phoneNumber_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span style="color: #787878; font-size: 12px; padding: 0 0 0 14px;">-를 제외한 11자리</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin:0 auto; padding: 30px 0 0 0; border-bottom: 1px solid #dedede; width: 930px;"></div>
    <table width="905" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="width: 193px; font: 20px 'Malgun Gothic'; vertical-align: top; letter-spacing: -1px; padding: 25px 0 0 10px">
                부가 정보 입력
            </td>
            <td style="padding: 25px 0 0 0">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="color: #333333; vertical-align: top; font-size: 12px">주소</td>
                        <td style="padding: 7px 0 7px 0">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                   style="padding-top: 0px; padding-bottom: 0px;">
                                <tbody>
                                <tr>
                                    <td width="110" style="padding: 0 0 5px 0">
                                        <input type="text" id="postnum" name="postnum" placeholder="우편번호" readonly
                                               style="width: 100%; vertical-align: middle;" class="form-control" onclick="sample6_execDaumPostcode()">
                                    </td>
                                    <td valign="top" style="padding-left: 10px; padding-top: 3px">
                                        <div class="button">
                                            <a class="button_middle" onclick="sample6_execDaumPostcode()">주소검색</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210" style="padding: 0 0 5px 0">
                                        <input type="text" id="address1" placeholder="주소" class="form-control" readonly
                                               style="width:450px;vertical-align:middle;" onclick="sample6_execDaumPostcode()">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="210" style="padding: 0 0 5px 0">
                                        <input type="text" id="address2" placeholder="상세주소" class="form-control"
                                               style="width: 350px; vertical-align: middle; height: 39px; padding: 0px 7px;"
                                               onfocus="detailAddressCheck()">
                                    </td>
                                    <td width="*">
                                        <div id="address_helplyaer"
                                             style="position: absolute; display: none; margin-top: -1px; z-index: 1">
                                            <table width="100" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_top.gif">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td background="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer02_bg.gif"
                                                        style="padding-left: 30px; padding-right: 10px;">
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/20070910_bullet_03.jpg"
                                                             align="absmiddle">
                                                        <span id="address_result"
                                                              style="padding: 6px 0 0 6px; margin: 0"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="https://www.aladin.co.kr/ucl_editor/img_secur/account/makeAccount/join2007_layer01_foot.gif">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin: 0 auto; padding: 30px 0 0 0; border-bottom: 4px solid #505050; width: 930px"></div>
    <div style="margin: 0 auto; padding: 20px 0; text-align: center; width: 930px">
        <div id="signup">
            <a>회원 가입하기</a>
        </div>
    </div>
</form>
<!--<form method="post">
    <div style="width: 905px; padding: 10px">
        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="userId">아이디</label>
            <input type="text" class="form-control" id="userId" name="username">
        </div>

        <div>
            <label class="col-form-label mt-4" for="userPw">비밀번호</label>
            <input type="password" class="form-control" id="userPw" name="password">
        </div>
        <div>
            <label class="col-form-label mt-4" for="rePw">비밀번호 재확인</label>
            <input type="password" class="form-control" id="rePw" name="password-check">
        </div>

        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group mb-2">
            <label class="col-form-label mt-4" for="phone">연락처 </label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="-를 제외한 11자리">
        </div>
        <div class="form-group mb-2">
            <label for="postnum" class="col-form-label mt-4">우편번호 </label>
            <input type="text" class="form-control" id="postnum" name="postnum" value="12345">
            <label for="address1" class="col-form-label mt-4">주소 </label>
            <input type="text" class="form-control" id="address1" name="address1" value="Seoul">
            <label for="address2" class="col-form-label mt-4">상세주소 </label>
            <input type="text" class="form-control" id="address2" name="address2" value="test">
        </div>
        <button type="button" id="signup">가입하기</button>
    </div>
</form>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/register.js"></script>
</body>
</html>
