<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min_ml.css" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary-genie" style="width: 10%; float: left; margin-top: 2%">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="0" height="32"></svg>
    <span class="fs-4">My Page</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="/mypage/orderhistory" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        주문배송조회
      </a>
    </li>
    <li>
      <a href="/mypage/cart" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        장바구니
      </a>
    </li>
    <li>
      <a href="/mypage/addrbook" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        배송주소록
      </a>
    </li>
    <li>
      <a href="/mypage/myreview" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        마이리뷰
      </a>
    </li>
    <li>
      <a href="/mypage/mileage" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        마일리지
      </a>
    </li>
    <li>
      <a href="/mypage/userinfo" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        회원정보 수정
      </a>
    </li>
    <li>
      <a href="/mypage/userdel" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="0" height="16"></svg>
        회원 탈퇴
      </a>
    </li>
  </ul>
  <hr>
</div>
</body>
</html>