<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송 주소록  : Genie</title>
    <link href="/css/bootstrap.min_ml.css" rel="stylesheet">
</head>
<body style="height: 100%">

<div th:replace="fragment/nav"></div>
<div th:replace="fragment/sidebar"></div>
<div style="width: 65%; display: inline-block; margin: 2% 15% 1% 5%">
  <form action="/mypage/addrbook" method="get">
    <div>
      <div style="width: 25%; display: inline; float: left; margin: 0 1% 0 0">
        <input class="form-control" type="text" placeholder="'수령인'을 입력해주세요." name="keyword" id="keyword" th:value="${keyword}">
      </div>
      <div style="width: 25%; display: inline; float: left">
        <input class="btn btn-primary" type="submit" value="검색">
      </div>
      <div style="display: inline; float: right; text-align: right; margin: 0 0 0 1%">
        <a class="btn btn-primary" onclick="newAddr()">새 주소 추가</a>
      </div>
      <div style="width: 20%; display: inline; float: right; text-align: right">
        <a class="btn btn-outline-primary" onclick="addrChkDelete()">선택 삭제</a>
      </div>
    </div>
  </form>
</div>

<div style="width: 65%; display: inline-block; margin: 0 15% 0 5%">
  <table class="table table-hover">
    <thead>
    <tr class="table-secondary" style="text-align: center">
      <th><input class="form-check-input" type="checkbox" name="addrAllSelect" id="addrAllSelect"></th>
      <th>배송지</th>
      <th>수령인</th>
      <th>주소</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
      <th:block th:if="${addrList.list.size() ==0 || addrList.list.isEmpty()}">
        <tr class="table-secondary" style="text-align: center">
          <td colspan="5">검색하신 결과가 없습니다.</td>
        </tr>
      </th:block>
      <th:block th:unless="${addrList.list.size() ==0 || addrList.list.isEmpty()}">
      <tr class="table-secondary" style="text-align: center" th:each="addr : ${addrList.list}">
        <th:block th:if="${addr.priority == 1}">
          <td style="vertical-align: middle">
            <input class="form-check-input" type="text" name="addrchk" th:value="${addr.addrindex}" style="display: none">
            <input type="hidden" name="priority" id="priority" th:value="${addr.priority}">
            <input type="hidden" name="userindex" id="userindex" th:value="${addr.userindex}">
          </td>
        </th:block>
        <th:block th:unless="${addr.priority == 1}">
          <td style="vertical-align: middle">
            <input class="form-check-input" type="checkbox" name="addrchk" th:value="${addr.addrindex}">
          </td>
        </th:block>
        <td style="vertical-align: middle"><label><th:block th:text="${addr.addrname}"></th:block></label></td>
        <td style="vertical-align: middle">
          <label><th:block th:text="${addr.recipient}"></th:block></label>
          <th:block th:if="${addr.priority} == 1"><br><span style="color: red">(기본 정보 주소)</span></th:block>
        </td>
        <td style="vertical-align: middle">
          <label>(<th:block th:text="${addr.postnum}"></th:block>)</label>
          <br>
          <label><th:block th:text="${addr.address1}"></th:block></label>
          <label><th:block th:text="${addr.address2}"></th:block></label>
          <br>
          <label><th:block th:text="${addr.phone}"></th:block></label>
        </td>
        <td style="vertical-align: middle">
          <button class="btn btn-primary btn-sm" name="addrModifyBtn">수정</button>
          <th:block th:if="${addr.priority} != 1"><button class="btn btn-outline-primary btn-sm" name="addrDeleteBtn">삭제</button></th:block>
        </td>
      </tr>
      </th:block>
    </tbody>
  </table>
</div>
<div style="text-align: center">
<nav aria-label="" style="display: inline-block">
    <ul class="pagination pagination-sm">
      <input type="hidden" id="pagenum" th:value="${addrList.pageNum}">
      <th:block th:if="${addrList.prev}">
        <li class="page-item">
          <a class="page-link" th:href="@{/mypage/addrbook(page=${addrList.startNum-1}, keyword=${keyword})}">&laquo;</a>
        </li>
      </th:block>
      <th:block th:each="num : ${#numbers.sequence(addrList.startNum, addrList.endNum)}" th:with="active=${addrList.pageNum==num?'active':''}">
        <li class="page-item" th:classappend="${active}">
          <a class="page-link" th:href="@{/mypage/addrbook(page=${num}, keyword=${keyword})}" th:text="${num}"></a>
        </li>
      </th:block>
      <th:block th:if="${addrList.next}">
        <li class="page-item">
          <a class="page-link" th:href="@{/mypage/addrbook(page=${addrList.endNum+1}, keyword=${keyword})}">&raquo;</a>
        </li>
      </th:block>
    </ul>
  </nav>
</div>
</div>
<div id="addrModal" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-light">
        <div class="modal-header">
          <h5 class="modal-title">주소 정보</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="maddrindex">
          <input type="hidden" id="mpriority">
          <input type="hidden" id="muserindex">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="maddrname">
            <label for="maddrname">배송지</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="mrecipient">
            <label for="mrecipient">수령인</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="mpostnum">
            <label for="mpostnum">우편번호</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="maddress1">
            <label for="maddress1">주소</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="maddress2">
            <label for="maddress2">상세주소</label>
          </div>
          <div class="form-floating mb-3">
            <div class="d-grid gap-2">
            <input class="btn btn-lg btn-primary" type="button" value="주소 검색" onclick="postSearch()">
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="mphone">
            <label for="mphone">전화번호</label>
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="button" id="add" value="추가" onclick="addrAdd()">
          <input class="btn btn-primary" type="button" id="modify" value="수정" onclick="addrModify()">
          <button type="button" class="btn btn-outline-primary" id="modalClose">Close</button>
        </div>
      </div>
</div>

  <script src="/js/mypage/myaddrbook.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossOrigin="anonymous"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>

























