<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마일리지 내역</title>
</head>
<body>
<div>
    <select id="keyword" th:value="keyword">
        <option value="0" th:selected="${keyword}=='0'">전체</option>
        <option value="1" th:selected="${keyword}=='1'">적립</option>
        <option value="2" th:selected="${keyword}=='2'">사용</option>
    </select>
    <label>총 적립</label>
    <span th:text="${mileList.totalSave}"></span>
    <label>총 사용</label>
    <span th:text="${mileList.totalUse}"></span>
    <label>잔여</label>
    <span th:text="${mileList.totalSave}-${mileList.totalUse}"></span>
    <label>소멸 예정(1달 이내)</label>
    <span th:text="${mileList.totalExpired}"></span>

    <table>
        <thead>
        <tr>
            <th>일자</th>
            <th>적립</th>
            <th>사용</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${mileList.list.size() ==0 || mileList.list.isEmpty()}">
            <tr>
                <td colspan="3">검색하신 결과가 없습니다.</td>
            </tr>
        </th:block>
        <th:block th:unless="${mileList.list.size() ==0 || mileList.list.isEmpty()}">
            <tr th:each="mile : ${mileList.list}">
                <td>
                    <span th:text="${mile.getUpdatedate()}"></span>
                </td>
                <td>
                    <span th:text="${mile.getMileage()}"></span>
                </td>
                <td>
                    <span th:text="${mile.getUsemileage()}"></span>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav aria-label="">
        <ul class="pagination">
            <input type="hidden" id="pagenum" th:value="${mileList.pageNum}">
            <th:block th:if="${mileList.prev}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/mileage(page=${mileList.startNum-1}, keyword=${keyword})}">&laquo;</a>
                </li>
            </th:block>
            <th:block th:each="num : ${#numbers.sequence(mileList.startNum, mileList.endNum)}" th:with="active=${mileList.pageNum==num?'active':''}">
                <li class="page-item" th:classappend="${active}">
                    <a class="page-link" th:href="@{/mypage/mileage(page=${num}, keyword=${keyword})}" th:text="${num}"></a>
                </li>
            </th:block>
            <th:block th:if="${mileList.next}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/mypage/mileage(page=${mileList.endNum+1}, keyword=${keyword})}">&raquo;</a>
                </li>
            </th:block>
        </ul>
    </nav>
</div>
<script text="javascript">
    document.getElementById('keyword').onchange = function (){
        let page = document.getElementById('pagenum').value;
        let keyword = this.value;

        console.log(page);
        console.log(this.value);

        location.href='/mypage/mileage?keyword='+keyword;
        // location.href='/mypage/mileage?page='+page+'&keyword='+keyword;
    };
</script>
</body>
</html>