<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
</head>
<body>
<select name="" id="">
    <option>전체</option>
    <option>구매</option>
    <option>반품</option>
    <option>교환</option>
    <option>취소</option>
</select>
<table>
    <tr>
        <th>주문일</th>
        <th>주문번호</th>
        <th>수령인</th>
        <th>주문 상품</th>
        <th>상태</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>