<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <label>탈퇴 사유</label>
  <input type="checkbox" name="">
  중복 가입 계정 정리
  <input type="checkbox" name="">
  로그인 용 이메일 주소 변경
  <input type="checkbox" name="">
  상품 가격 불만
  <input type="checkbox" name="">
  찾는 상품 없음
  <input type="checkbox" name="">
  고객 응대 불만족
  <input type="checkbox" name="">
  서비스 이용
  <input type="checkbox" name="">
  개인 정보 삭제
  <input type="checkbox" name="">
  상품 품질 불만
  <input type="checkbox" name="">
  회원 혜택 부족
  <input type="checkbox" name="">
  배송 품질
  <input type="checkbox" name="">
  시스템 안정성
  <input type="checkbox" name="">
  선택지에 없음

  <label>기타 의견</label>
  <textarea name="" id="" cols="30" rows="10"></textarea>

  <label>패스워드 입력</label>
  <label for="">패스워드 :</label>
  <input type="text" name="">
  <a>회원 탈퇴</a>
</body>
</html>