<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--  <label>탈퇴 사유</label>-->
<!--  <input type="checkbox" name="comment1">-->
<!--  중복 가입 계정 정리-->
<!--  <input type="checkbox" name="comment2">-->
<!--  로그인 용 이메일 주소 변경-->
<!--  <input type="checkbox" name="comment3">-->
<!--  상품 가격 불만-->
<!--  <input type="checkbox" name="comment4">-->
<!--  찾는 상품 없음-->
<!--  <input type="checkbox" name="comment5">-->
<!--  고객 응대 불만족-->
<!--  <input type="checkbox" name="comment6">-->
<!--  서비스 이용-->
<!--  <input type="checkbox" name="comment7">-->
<!--  개인 정보 삭제-->
<!--  <input type="checkbox" name="comment8">-->
<!--  상품 품질 불만-->
<!--  <input type="checkbox" name="comment9">-->
<!--  회원 혜택 부족-->
<!--  <input type="checkbox" name="comment10">-->
<!--  배송 품질-->
<!--  <input type="checkbox" name="comment11">-->
<!--  시스템 안정성-->
<!--  <input type="checkbox" name="comment12">-->
<!--  선택지에 없음-->

<!--  <label>기타 의견</label>-->
  <label>탈퇴 사유</label>
  <textarea name="otherComments" id="otherComments" cols="30" rows="10"></textarea>

    <label>ID</label>
    <span id="username" th:text="${name}"></span>
  <label>패스워드 입력</label>
  <label for="password">패스워드 :</label>
  <input type="password" name="password" id="password">
  <input type="button" name="userWithdraw" id="userWithdraw" value="회원 탈퇴">
    <script text="javascript">
      document.getElementById('userWithdraw').onclick = function (){

        const payload ={
          password : document.getElementById('password').value,
          comment : document.getElementById('otherComments').value
        }
        axios.post('updateUserWithdraw', payload)
                .then( res => {
                  if(res.data == 1){
                    alert("회원 탈퇴가 완료 되었습니다.")
                    location.href='/login';
                  }
                })
                .catch(err => console.log(err))

      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossOrigin="anonymous"></script>
</body>
</html>