html,
body {
  height: 100%;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-login {
  max-width: 330px;
  font-size: 15px;
  color: #555555;
  padding: 0 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn_login {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border: #df307f 1px solid;
  text-decoration: none!important;
  cursor: pointer;
  border-radius: 3px;
  background-color: #df307f;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 30px 0 30px 0;
}

.btn-register{
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border: #33AFE9 1px solid;
  text-decoration: none!important;
  cursor: pointer;
  border-radius: 3px;
  background-color: #33AFE9;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 30px 0 30px 0;
}
