article {
    width: 800px;
    margin: auto;
}

.review_title {
    margin-bottom: 15px;
    padding: 10px 0 8px 0;
    border-bottom: 2px solid #7d8e9e;
}

.review_title .title_text {
    display: inline-block;
    font-size: 20px;
    color: #59667a;
    font-weight: 700;
}

#review_info_section {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#review_info_section .review_input_left {
    display: table-cell;
    width: 120px;
    padding: 32px 0 20px 0;
    text-align: center;
    cursor: default;
}

#review_info_section .review_input_right {
    display: table-cell;
}

#review_info_section .review_input_left .buyer_score_title {
    font-size: 12px;
    color: #808991;
    font-weight: 600;
}

#review_info_section .review_input_left .buyer_score {
    display: inline-block;
    margin-top: 15px; line-height: 1em;
}

#review_info_section .review_input_left .buyer_score .score {
    display: block;
    margin-top: 10px;
    font-size: 35px;
    color: #212529;
    font-weight: 700;
}

#review_info_section .review_input_left .StarRate_Icon {
    margin-left: 10px; margin-bottom: 10%;
}

.StarRate_Icon {
    clear: both; padding-right: 0px; padding-left: 0px; background: url(https://image.aladin.co.kr/img/shop/2018/icon_star_off.png) 0px 0px;
    float: left; padding-bottom: 0px; margin: 0px; width: 90px; padding-top: 0px; height: 18px;
    margin-top: 11px;
}

.StarRate_Icon .StarRate_IconFill {
    padding-right: 0px; padding-left: 0px; background: url(https://image.aladin.co.kr/img/shop/2018/icon_star_on.png) 0px 0px;
    padding-bottom: 0px; margin: 0px; padding-top: 0px; height: 18px;
}

#review_info_section .review_input_left .score_graph {
    padding: 18px 0 10px 0;
    color: #808991;
    font-size: 12px;
    font-weight: 700;
}


#review_info_section .review_input_left .score_graph .bar-container {
    width: 72px; height: 8px; margin-left: 4px; background-color: #e8edf3;
}

#review_info_section .review_input_left .score_graph .bar-container .bar-5, .bar-4, .bar-3, .bar-2, .bar-1 {
    height: 8px; background-color: #738096;
}

#review_info_section .review_input_left .score_people_num {
    width: 94px; margin: 0 auto; padding-top: 8px; border-top: 1px solid #e5e5e5; font-size: 12px; color: #94a2b8;
}

#review_info_section .review_input_right .star_tip_wrapper {
    text-align: center; cursor: default;
}

#review_info_section .review_input_right .tip_title {
    font-size: 18px; color: #999; font-weight: 700; padding-top: 10px; line-height: 1em;
}

#review_info_section .review_input_right .tip_title .rate_num {
    font-weight: 700; font-size: 30px; color: #EF3B96FC; padding: 0 0 0 8px;
}

.star_rate_touch_area fieldset {
    display: inline-block; direction: rtl; border: 0;
}

.star_rate_touch_area input[type=radio]{
    display: none;
}

.star_rate_touch_area label {
    font-size: 3em; color: transparent; text-shadow: 0 0 0 #f0f0f0;
}

.star_rate_touch_area label:hover {
    text-shadow: 0 0 0 rgba(239, 59, 150, 0.99); cursor: pointer;
}

.star_rate_touch_area label:hover ~ label {
    text-shadow: 0 0 0 rgba(239, 59, 150, 0.99);
}

.star_rate_touch_area input[type=radio]:checked ~ label {
    text-shadow: 0 0 0 rgba(239, 59, 150, 0.99);
}

#review_info_section .review_input_right .review_input_textarea {
    border: 2px solid #d1d5d9; border-radius: 5px; box-sizing: border-box; width: 100%; height: 112px; font-weight: 700; font-size: 13px;
    padding: 12px 15px; line-height: 1.5em; color: #a7b1bb; resize: vertical;
}

#review_info_section .review_input_right .button_wrapper {
    padding: 8px 0; height: 30px;
}

#review_info_section .review_input_right .review_btn {
    padding: 6px 18px; font-size: 12px; box-shadow: 0 1px 1px 0 rgb(31 140 230 / 30%); border: 1px solid #0077d9; border-radius: 4px; color: #fff;
    transition: background .2s,color .2s; vertical-align: baseline; text-align: center; display: inline-block; font-weight: 700; box-sizing: border-box;
    text-decoration: none; appearance: none; background: #1f8ce6; float: right; cursor: pointer;
}

#review_info_section .review_input_right .modify_btn {
    padding: 8px 18px; font-size: 12px; box-shadow: 0 1px 1px 0 rgb(31 140 230 / 30%); border: 1px solid #0077d9; border-radius: 4px; color: #fff;
    transition: background .2s,color .2s; vertical-align: baseline; text-align: center; display: inline-block; font-weight: 700; box-sizing: border-box;
    text-decoration: none; appearance: none; background: #1f8ce6; float: right; cursor: pointer; margin-top: 8px; margin-left: 4px;
}

#review_info_section .review_input_right .modify_cancel_btn {
    padding: 8px 18px; font-size: 12px; box-shadow: 0 1px 1px 0 rgb(125 142 158 / 30%); border: 1px solid #636c73; border-radius: 4px; color: #fff;
    transition: background .2s,color .2s; vertical-align: baseline; text-align: center; display: inline-block; font-weight: 700; box-sizing: border-box;
    text-decoration: none; appearance: none; background: #7d8e9e; float: right; cursor: pointer; margin-top: 8px;
}

#review_info_section .review_input_right .hidden {
    display: none;
}

#review_list_section {
    margin-top: 25px;
}

.review_tab {
    position: relative; cursor: default;
}

.review_tab_2 {
    margin: 0; padding: 0; list-style: none; border-bottom: 2px solid #d1d5d9; cursor: default;
}

.review_tab_2 .tab_list {
    margin: 0; padding: 0; display: inline-block; line-height: 1em; display: block; position: relative; min-width: 25px;
    padding: 10px 0; font-size: 15px; font-weight: 700;
}

.review_tab .review_filter {
    margin: 0; padding: 0; position: absolute; right: 0; bottom: 0; list-style: none;
}

.review_filter .filter_list {
    margin: 0; padding: 8px 0; display: inline-block; cursor: pointer;
}

.review_filter .filter_list a {
    margin: 0; text-decoration: none; line-height: 1em; display: block; padding: 8px; margin-top: -8px; font-size: 12px; font-weight: 700; color: #808991;
}

.review_filter .filter_list a.active {
    color: #303538;
}

#review_list_section .review_list_empty {
    padding: 40px 0; border-bottom: 1px solid #ced2d6;
}

#review_list_section .review_list_empty {
    text-align: center; font-size: 15px; color: #808991; font-weight: 700; line-height: 1.8em;
}

#review_list_section .review_list_wrapper > ul {
    padding-inline-start: 0;
}

#review_list_section .review_list_wrapper .review_list:first-child {
    border-top: 0;
}

#review_list_section .review_list_wrapper .review_list {
    padding-top: 14px; display: table; width: 100%; border-bottom: 0; border-top: 1px solid #d1d5d9;
}

#review_list_section .review_list_wrapper .review_list .list_left {
    display: table-cell; width: 115px; vertical-align: top; padding-top: 3px;
}

#review_list_section .review_list_wrapper .review_list .list_left .left_contents .reviewer_info {
    font-size: 12px; font-weight: 700; color: #212529;
}

#review_list_section .review_list_wrapper .review_list .list_left .review_date {
    display: block; margin-top: 7px; padding-bottom: 18px; color: #808991; font-size: 12px; line-height: 16px;
}

#review_list_section .review_list_wrapper .review_list .list_right {
    display: table-cell; vertical-align: top; padding-right: 1px;
}

#review_list_section .review_list_wrapper .review_list .list_right .review_content {
    padding-bottom: 10px; font-size: 13px; color: #212529; line-height: 1.7em; word-break: break-all;
}

.more_review {
    -webkit-appearance: none; background: 0 0; border: none; font-size: 13px; padding-left: 3px; line-height: 1.5em;
    box-shadow: none; color: #738096; transition: color .2s; cursor: pointer;
}

#review_list_section .review_list_wrapper .more_review_button_wrapper {
    padding-top: 15px; background: #fff; margin-top: -1px;
}


#review_list_section .review_list_wrapper .more_review_button {
    display: block; background: #fff; margin-top: -1px; border: 2px solid #d1d5d9; border-radius: 3px; text-align: center; width: 100%;
    font-size: 13px; font-weight: 700; padding: 13px 0; cursor: pointer;
}


#review_list_section .review_list_wrapper .more_review_button .more_num {
    color: #EF3B96FC;
}


#review_list_section .review_list_wrapper .review_list .list_right .hidden {
    display: none;
}

#review_info_section .review_input_right .my_review {
    color: #666; font-size: 12px; line-height: 1em;
}

#review_info_section .review_input_right .my_review .review_content_wrapper {
    background: #f2f4f5; border-radius: 3px; padding: 18px; position: relative;
}

#review_info_section .review_input_right .my_review .review_content_wrapper .my_review_content {
    margin-top: 14px; font-size: 13px; color: #333; line-height: 1.5em; word-break: break-all;
}

#review_info_section .review_input_right .my_review .review_content_wrapper .my_review_date {
    position: relative; cursor: default; width: 100%; display: table;
}

#review_info_section .review_input_right .my_review .review_content_wrapper .my_review_date .left_column {
    display: table-cell; vertical-align: middle; text-align: left;
}

#review_info_section .review_input_right .my_review .review_content_wrapper .my_review_date .right_column {
    text-align: right;
}

#review_info_section .review_input_right .my_review .review_content_wrapper .my_review_content .hidden {
    display: none;
}

.bi-pencil {
    cursor: pointer; padding: 2px 14px;
}

.bi-trash {
    cursor: pointer; border-left: 1px solid #dee4ea; padding: 2px 14px;
}

#review_list_section .review_list_wrapper .review_list .list_right .review_status {
    display: block; margin: 10px 0; cursor: default; text-align: right;
}

#review_list_section .review_list_wrapper .review_list .list_right .review_status .like_button {
    min-width: 51px; position: relative; padding: 3px 10px; appearance: none; outline: 0; text-decoration: none; box-sizing: border-box; border-radius: 4px;
    font-weight: 700; display: inline-block; text-align: center; cursor: pointer; line-height: 1em; vertical-align: baseline; color: #808991; background: #fff;
    border: 1px solid #d1d5d9; box-shadow: 0 1px 1px 0 rgb(209 213 217 / 30%); font-size: 11px;
}

#review_list_section .review_list_wrapper .review_list .list_right .review_status .like_button.active {
    color: #EF3B96FC;
}


#review_list_section .review_list_wrapper .review_list .list_right .review_status .like_button .like_text {
    display: inline-block; padding-left: 3px;
}