<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
Hello Genie~
<ul>
    <th:block th:if="${loginInfo < 0}">
        <li><a href="/login">로그인</a></li>
    </th:block>
    <th:block th:if="${loginInfo > 0}">
        <li><a href="/logout">로그아웃</a></li>
    </th:block>
    <li><a href="/register">회원가입</a></li>
    <li><a href="/view/book/bookMainList">도서리스트(메인)</a></li>
    <li><a href="/view/administrator/list">관리자 도서리스트(메인)</a></li>
</ul>

<script th:inline="javascript">

    var loginInfo = [[${loginInfo}]]

</script>
</body>
</html>